<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultiLabs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MultiLabs</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Client")) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Laboratories" asp-action="Index">Laboratórios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Laboratories" asp-action="Index">Agendar</a>
                            </li>
                        }
                        @if (User.IsInRole("LabManager")) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Laboratories" asp-action="Index">Laboratórios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="LaboratoryTesters" asp-action="Index">Técnicos</a>
                            </li>
                        }
                        @if (User.IsInRole("LabTester")) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Laboratories" asp-action="Index">Laboratórios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Schedules" asp-action="Index">Agendamentos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Schedules" asp-action="IndexTester">Meus Testes</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    @if (User.IsInRole("LabTester")) {
                        <form class="d-flex" asp-action="Index" asp-controller="Schedules" method="get">
                            <input class="form-control me-2" type="search" placeholder="Cliente" aria-label="Search" name="search">
                            <button class="btn btn-sm btn-outline-secondary" type="submit">Procurar</button>
                        </form>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MultiLabs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
